<div class="container-fluid header2 py-1">
    <div class="float-right"><p><i class="fas fa-file-alt text-success"></i> &nbsp;<a data-toggle="modal" data-target="#questionPaper">Question Paper</a>&nbsp; <i class="fas fa-info-circle text-info"></i>&nbsp;<a data-toggle="modal" data-target="#instruction">Instruction</a></div>
</div>
<!-- ...............................Left sidebar code ......................... -->
<section class="left-sidebar">
<div class="section px-3 py-1">
<a name="" id="qp" class="btn btn-primary btn-sm" href="#" role="button">Question Paper <i class="fas fa-info-circle"></i></a>

<div class="float-right"><h6>Time Left: 10:00:15</h6></div>
</div>
<div class="paper-section section">
<div class="pbutton">
  <a href="#">PHY SEC1 <i class="fas fa-info-circle text-info"></i></a>
</div>
<div class="pbutton">
      <a href="#">PHY SEC2 <i class="fas fa-info-circle text-info"></i></a>
  </div>
  <div class="pbutton">
          <a href="#">PHY SEC3 <i class="fas fa-info-circle text-info"></i></a>
      </div>
      <div class="pbutton">
              <a href="#">CHE SEC1 <i class="fas fa-info-circle text-info"></i></a>
          </div>
          <div class="pbutton">
                  <a href="#">CHE SEC2 <i class="fas fa-info-circle text-info"></i></a>
              </div>
              <div class="pbutton">
                      <a href="#">CHE SEC3 <i class="fas fa-info-circle text-info"></i></a>
                  </div>
</div>

<div class="section bg-primary py-1 px-1">
  <div class="row justify-content-end">
      <div class="col-md-2 text-right">
          <select class=""><option>
              English
          </option>
          <option>
                  Hindi
              </option>
      </select>
      </div>
  </div>
</div>
<div class="question-body section">
  <p class="px-3">
      
Where does it come from?
Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a 
Latin professor at

classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a 
Latin professor at
Hampden-Sydney College in Virginia,
looked up one of the more obscure Latin words,
consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical
literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 
1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written 
in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. 
The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", c
Hampden-Sydney College in Virginia,
looked up one of the more obscure Latin words,
consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical
literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 
1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written 
in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. 
The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

The standard chunk of Lorem Ipsum used since the 1500s 
is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from
"de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form,
accompanied by English versions from the 1914 translation by H. Rackham.
  </p>
</div>

<div class="question-command section">
  <div class="row d-flex flex-row pl-2 justify-content-between">
      <div class="d-flex">
          <button type="button" class="btn btn-outline-primary mx-2">Mark &amp; Next </button>
          <button type="button" class="btn btn-outline-primary">Clear Responce </button>
      </div>

      <div class="d-flex ">
              <button type="button" class="btn btn-primary mr-3">Save 	&amp; Next </button>
      </div>
  </div>
  </div>

</section><!--Left sidebar code end-->
<!-- ........................................right sidebar code ...................................-->
<section class="right-sidebar clearfix">
             <app-user-profile></app-user-profile>
             <div class="question-overview border-secondary px-2 py-2">
                <table class="overview-table">
                    <tr>
                        <td><div class="butoon-ans">0</div></td>
                        <td>Answered</td>
                        <td><div class="butoon-nAns">0</div></td>
                        <td>Not Answered</td>
                    </tr>
                    <tr>
                         <td><button class="btn rounded-circle btn-dark ">0</button></td>
                         <td>Not Visited</td>
                         <td><button class="btn rounded-circle border-circle btn-warning">0</button></td>
                         <td>Mark for Review</td>
                     </tr>
                     <tr><td><button class="btn rounded-circle btn-sm btn-info">0</button></td>
                         <td colspan="4"><small>Answered and mark for review (Will be consider for evalution)</small></td></tr>
                </table>
              </div>
               <div class="question-omr">

                   <div class="section px-2 py-1 bg-primary">
                      <h5 class="text-white">MATH SEC</h5>
                   </div>
                  <h5 class="px-3">Choose a Question</h5>
                   <div class="px-2 py-1 d-flex">
                          
                      <button type="button" class="btn">1</button>
                      <button type="button" class="btn">2</button>
                      <button type="button" class="btn">3</button>
                      <button type="button" class="btn">4</button>
                      <button type="button" class="btn">5</button>
                   </div>
                  </div>
                  <div class="section py-3 d-flex justify-content-center">
                      <div>
                      <button type="button" class="btn btn-primary mx-auto">Submit</button></div>
                  </div>
</section>
<!--right sidebar code end-->

<!--Instruction -->
<!-- Button trigger modal -->


<!-- Modal for question paper -->
<div class="modal fade" id="questionPaper" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLongTitle">Ouestion Paper</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">

</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<!-- Modal for Instruction -->
<div class="modal fade" id="instruction" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
<small><h5 class="modal-title" id="exampleModalLongTitle">Instruction</h5></small> 
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
      <h3>IMPORTANT NOTE</h3>
      <ul>
          <li><p>purpose of this MOCK TEST is to familiarize the candidates with the Computer Based Test (CBT) environment of the JEE (Advanced) – 2018.
      
                  Candidates may use this MOCK TEST to get acclimatized with the functionalities of CBT.</p>
                  </li>
                  <li>
                         <p>This MOCK TEST has used previous years' questions of JEE (Advanced).</p> 
                  </li>
                  <li>
      <p>The type of questions and illustrative marking scheme in this MOCK TEST is in NO WAY INDICATIVE of the type of questions and marking scheme of JEE (Advanced) – 2018 question paper.
      </p>
                  </li>
      </ul> 
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>