
<section>       
  <div class="container-fluid header-contant">
                     <div class="row">
                       <div class="col-md-8">
                         <p>System Name:</p>
                         <h3 class="text-larg">CN001</h3>
                         <p><small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small></p>
                       </div>
                       <div class="col-md-3 user">
                           <div class="text-right" style="float: left; margin-right: 20px;">
                         <p>
                           Candidate Name:
                         </p>
                         <h3 class="text-larg">
                             Amit Kumar
                           </h3>
                         <p>
                             Subject: Mock Exam
                           </p>
                         </div>
                         <div style="float: left;">
                           <div class="img-profile">
                             <img src="../../assets/profile.jpg">
                             </div>
                         </div>
                         </div>
                     </div>
                     </div>
                 </section>   
     <!-- Login box code -->
     <div class="container mt-4">
     <div class="login-box">
         <div class="box-header">
             <h5>Login</h5>
         </div>
         <div class="container">
             <div class="input-group my-1">
                 <div class="input-group-prepend">
                   <span class="input-group-text"><i class="fas fa-user"></i></span>
                 </div>
                 <input type="text" class="form-control"  placeholder="Username" aria-describedby="validationTooltipUsernamePrepend" required>
                 <div class="input-group-prepend">
                     <span class="input-group-text"><i class="fas fa-keyboard"></i></span>
                   </div>
         </div>
         <div class="input-group my-3">
             <div class="input-group-prepend">
               <span class="input-group-text"><i class="fas fa-key"></i></span>
             </div>
             <input type="password" class="form-control"  placeholder="Username" aria-describedby="validationTooltipUsernamePrepend" required>
             <div class="input-group-prepend">
                 <span class="input-group-text"><i class="fas fa-keyboard"></i></span>
               </div>
     </div>
     <button routerLink="/instruction"class="btn btn-block btn-primary">Sign In</button>
     </div>
 </div></div>
     <!-- End of the login box code -->
     <footer class="container-fluid">
         Version: 1
     </footer>