
.header-ins{
    background-color: #BCE8F5;
    padding:2px;
    
}
.body-container{
    width: 100%;
    position: relative;
    ;
}
.instruction-body{
    height: 450px;
}
.left-sidebar{
    width: 76%;
    float: left;
    height: 88vh;
   display: block;
   border-right: 1px solid rgb(46, 46, 46,0.5);
}
.right-sidebar{
    width: 24%;
    float: left;
    padding: 0px 0px;
     display: block;
 
}
   
.user-profile{
    border-bottom: 1px solid rgba(107, 107, 107, 0.2);
  
}

.question-command {
    height: 9vh;
    background-color: white;
    border-top: 1px solid rgb(189, 189, 189);
    padding:1vh 10px;
}

@media only screen and (max-width: 576px) {
    .left-sidebar h3{
            font-size: 18px;
    }
    .instruction-body p{
        font-size: 15px;
    }
    .right-sidebar,.left-sidebar
    {
        width: 100%;
    
    }
     .user{
        display: none;
    }
  
}