<div class="body-container">
  <div class="left-sidebar">
        
<div class="container-fluid  header-ins"><h3 class="ml-3">Instruction</h3></div>
    <div class="instruction-body px-3">
            <div class="d-flex justify-content-end">
            <div class="p-2"> View as: <select>
                <option>English</option>
                <option>Hindi</option>
            </select>
            </div>
          
        </div>
<h3>IMPORTANT NOTE</h3>
<ul>
<li><p>purpose of this MOCK TEST is to familiarize the candidates with the Computer Based Test (CBT) environment of the JEE (Advanced) – 2018.

Candidates may use this MOCK TEST to get acclimatized with the functionalities of CBT.</p>
</li>
<li>
   <p>This MOCK TEST has used previous years' questions of JEE (Advanced).</p> 
</li>
<li>
<p>The type of questions and illustrative marking scheme in this MOCK TEST is in NO WAY INDICATIVE of the type of questions and marking scheme of JEE (Advanced) – 2018 question paper.
</p>
</li>
</ul> 

</div>
<div class="question-command section">
<div class="d-flex justify-content-end">

<div class="d-flex mr-3">
    <button routerLink="/instructions"class="btn btn-block btn-primary">Next ></button>

</div>
</div>
</div>
</div>


<!-- ........................................right sidebar code ...................................-->
    <div class="right-sidebar">
      <app-user-profile></app-user-profile>
</div>

</div>
<!-- End of the login box code -->
   